FORMAT: 1A
HOST: http://app2.esn-cz.cz/api/

# ESN API Documentation
ESN API documentation for ESN project. This project is divided
to many phases. This version of the API is for version 01.


# Allowed HTTPs requests:
<pre>
POST     : To create resource
PUT    : Update resource
GET     : Get a resource or list of resources
DELETE  : To delete resource
</pre>

# Description Of Usual Server Responses:
- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 500 `Internal Server Error` - server error


# Authentication
<table>
    <tr>
        <td> Token </td>
        <td> Token/API key </td>
    </tr>
</table>


# Section
Represents city and university details. With one city, user
can choose more universities.

---
**City attributes:**

- id `(Number)` : Unique Identifier.
- name `(String)` : City Name.
- city_image `(URL)` : City Image.
- state `(String)` : City State.
- best_tip_title `(String)` : City Best Offer.
- best_tip_image `(URL)` : City Best Offer Image.
- latitude `(String)` : Latitude Coordinates of the City.
- longtitude `(String)` : Longtitude Coordinates of the City.
- city_desc `(String)` : Description of city. Short one.

---

**University attributes:**

- id `(Number)` : Unique Identifier.
- name `(String)` : University Name.
- section_name `(String)` : ESN section name. For future reference.
- section_desc `(String)` : Description of section.

---

## Section Collection [/sections]
### List all cities and related universities [GET]
This is called when user starts the app for the first time
and when user change settings in the app settings section.

User can choose one city and more universtities.

Based on the GPS is automatically choosen city where is the user.
He can change this city in the app manually.

Cities and universities are ordered alphabetically
from the server side.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        [
            {
                "id" : 1,
                "name": "Prague",
                "city_image" : "https://trello-attachments.s3.amazonaws.com/52589bca65b0b14e1d004d94/581efa2dafc1d1f2ca807a35/edcdf68eb2adb0005c80a6326ff3b354/prague_bg.png",
                "state" : "Czech Republic",
                "best_tip_image" : "",
                "best_tip_title" : "Tip: Try Proti Proudu in Prague",
                "longitude": "14.4378005",
                "latitude" : "50.0755381",
                "city_desc" : "",
                "universities": [
                    {
                        "id": 1,
                        "name": "Charles University",
                        "section_name": "IC CUNI",
                        "section_desc": ""
                    }, {
                        "id": 2,
                        "name": "Czech Technical University",
                        "section_name": "ISC CTU in Prague",
                        "section_desc": ""
                    }, {
                        "id": 3,
                        "name": "Czech University of Life Sciences",
                        "section_name": "ESN CULS Prague",
                        "section_desc": ""
                    }, {
                        "id": 4,
                        "name": "University of Chemistry and Technology",
                        "section_name": "ESN UCT Prague",
                        "section_desc": ""
                    }, {
                        "id": 5,
                        "name": "Universiy of Economics",
                        "section_name": "ESN VSE Prague",
                        "section_desc": ""
                    }
                ]
            },
            {
                "id" : 2,
                "name": "Olomouc",
                "city_image" : "https://trello-attachments.s3.amazonaws.com/52589bca65b0b14e1d004d94/581efa2dafc1d1f2ca807a35/7f70545d47a9353a56f72fe4d5a858f4/olomouc_bg.png",
                "state" : "Czech Republic",
                "best_tip_image" : "",
                "best_tip_title" : "Best coffee shop in Olomouc",
                "longitude": "17.2508787",
                "latitude" : "49.593778",
                "city_desc" : "",
                "universities": [
                    {
                        "id": 6,
                        "name": "Palacký University",
                        "section_name": "ESN UP Olomouc",
                        "section_desc": ""
                    }
                ]
            }
        ]

## Subcategory Collection for Uni [/subcategories?category=1]
---
Represents subcategory details. One main category contains
more subcategories, where one subcategory can be in more
main categories.

---

**Subcategory attributes:**

- id `(Number)` : Unique Identifier.
- parent_category `(Number)` : parent super category. server side
- name `(String)` : Subcategory Name.
- color `(String)` : Subcategory Color.
- icon `(URL)` : Subcategory Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all subcategories [GET]

Subcategories and categories are ordered based on the order
from the server side.

We use subcategory color and icon. When there is no icon and
color for the subcategory, you can use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

+ Request
    + Headers

            Authorization: JWT ABC123


+ Response 200 (application/json)

        [
                {
                  "id":1,
                  "parent_category":1,
                  "name":"University",
                  "color":"#2e3192",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/students-cap.svg",
                  "order":1,
                  "pois" : [9, 10, 11, 12, 13]
                },
                {
                  "id":2,
                  "parent_category":1,
                  "name":"Erasmus Student Network",
                  "color":"#00aeef",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/esnstar.svg",
                  "order":2,
                  "pois" : [25]
                },
                {
                  "id":5,
                  "parent_category":1,
                  "name":"Canteens",
                  "color":"#f47b20",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/013-plate-fork-and-knife.svg",
                  "order":"3",
                  "pois" : [14, 15, 16, 17, 18]
                },
                {
                  "id":4,
                  "parent_category":1,
                  "name":"Faculties",
                  "color":"#ec008c",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/012-university-building.svg",
                  "order":4,
                  "pois" : [1, 2, 3, 4, 5, 6, 7, 8]
                },
                {
                  "id":3,
                  "parent_category":1,
                  "name":"Dormitories",
                  "color":"#7ac143",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/011-sleeping-bed-silhouette.svg",
                  "order":5,
                  "pois" : [19, 20, 21, 22, 23, 24]
                }
        ]


## Subcategory Collection for Services [/subcategories?category=2]
---
Represents subcategory details. One main category contains
more subcategories, where one subcategory can be in more
main categories.

---

**Subcategory attributes:**

- id `(Number)` : Unique Identifier.
- parent_category `(Number)` : parent super category. server side
- name `(String)` : Subcategory Name.
- color `(String)` : Subcategory Color.
- icon `(URL)` : Subcategory Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all subcategories [GET]

Subcategories and categories are ordered based on the order
from the server side.

We use subcategory color and icon. When there is no icon and
color for the subcategory, you can use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

+ Request
    + Headers

            Authorization: JWT ABC123


+ Response 200 (application/json)

        [
                {
                  "id":16,
                  "parent_category":2,
                  "name":"Pub & Bars",
                  "color":"#2e3192",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/010-drink-beer-jar.svg",
                  "order":1,
                  "pois" : [47, 48, 49, 50]
                },
                {
                  "id":8,
                  "parent_category":2,
                  "name":"Groceries",
                  "color":"#7ac143",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/009-groceries.svg",
                  "order":2,
                  "pois" : [35, 39, 40, 41]
                },
                {
                  "id":9,
                  "parent_category":2,
                  "name":"Shopping",
                  "color":"#00aeef",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/008-bag.svg",
                  "order":3,
                  "pois" : [38]
                },
                {
                  "id":6,
                  "parent_category":2,
                  "name":"Doctors and health care",
                  "color":"#ff0000",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/doctor-stethoscope.svg",
                  "order":4,
                  "pois" : [36, 37]
                },
                {
                  "id":7,
                  "parent_category":2,
                  "name":"Police",
                  "color":"#2e3192",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/007-hat-of-a-policeman.svg",
                  "order":5,
                  "pois" : []
                },
                {
                  "id":15,
                  "parent_category":2,
                  "name":"Travel",
                  "color":"#ec008c",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/006-bag-for-travel.svg",
                  "order":6,
                  "pois" : [44, 45, 46]
                },
                {
                  "id":14,
                  "parent_category":2,
                  "name":"Culture",
                  "color":"#f47b20",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/004-theatre.svg",
                  "order":7,
                  "pois" : [27, 28]
                }        
        ]

## Subcategory Collection for Discounts [/subcategories?category=3]
---
Represents subcategory details. One main category contains
more subcategories, where one subcategory can be in more
main categories.

---

**Subcategory attributes:**

- id `(Number)` : Unique Identifier.
- parent_category `(Number)` : parent super category. server side
- name `(String)` : Subcategory Name.
- color `(String)` : Subcategory Color.
- icon `(URL)` : Subcategory Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all subcategories [GET]

Subcategories and categories are ordered based on the order
from the server side.

We use subcategory color and icon. When there is no icon and
color for the subcategory, you can use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

+ Request
    + Headers

            Authorization: JWT ABC123


+ Response 200 (application/json)

        [
                {
                  "id":11,
                  "parent_category":3,
                  "name":"Clubbing",
                  "color":"#2e3192",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/003-disco-ball.svg",
                  "order":1,
                  "pois" : [33, 34]
                },
                {
                  "id":10,
                  "parent_category":3,
                  "name":"Food",
                  "color":"#7ac143",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/001-food.svg",
                  "order":2,
                  "pois" : [29, 30, 31, 32]
                },
                {
                  "id":12,
                  "parent_category":3,
                  "name":"Entertainment",
                  "color":"#f47b20",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/002-popcorn.svg",
                  "order":3,
                  "pois" : [26]
                },
                {
                  "id":13,
                  "parent_category":3,
                  "name":"Accommodation",
                  "color":"#00aeef",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/011-sleeping-bed-silhouette.svg",
                  "order":4,
                  "pois" : [42, 43]
                }        
        ]

## Subcategory Collection for Vodafone [/subcategories?category=4]
---
Represents subcategory details. One main category contains
more subcategories, where one subcategory can be in more
main categories.

---

**Subcategory attributes:**

- id `(Number)` : Unique Identifier.
- parent_category `(Number)` : parent super category. server side
- name `(String)` : Subcategory Name.
- color `(String)` : Subcategory Color.
- icon `(URL)` : Subcategory Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all subcategories [GET]

Subcategories and categories are ordered based on the order
from the server side.

We use subcategory color and icon. When there is no icon and
color for the subcategory, you can use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

+ Request
    + Headers

            Authorization: JWT ABC123


+ Response 200 (application/json)

        [
                {
                  "id":17,
                  "parent_category":4,
                  "name":"Vodafone stores",
                  "color":"#E60000",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/store.svg",
                  "order":1,
                  "pois" : [51, 52]
                },
                {
                  "id":18,
                  "parent_category":4,
                  "name":"Charging places",
                  "color":"#f47b20",
                  "icon":"https://www.esn-cz.cz/esnczapp/icons/money-on-smartphone.svg",
                  "order":2,
                  "pois" : [53, 54, 55, 56]
                }
        ]

## Update Collection [/update_from={datetime}]
---
Sent all updated data as a difference between datetime and the current date.

# States
<table>
    <tr>
        <td> New </td>
        <td> New data created </td>
    </tr>
    <tr>
        <td> Update </td>
        <td> Updated existing data </td>
    </tr>
    <tr>
        <td> Delete </td>
        <td> Deleted existing data </td>
    </tr>
</table>

### Update all data [GET]
+ Request
    + Headers

            Authorization: JWT ABC123


+ Parameters
    + datetime (String) ... Timestamp in unix format: `YYYY-MM-DDTHH:MM:SS`.

+ Response 200 (application/json)

        [
            {   "subcategories" : [
                    {
                        "id" : 1,
                        "name" : "Vodafone",
                        "color" : "#333333",
                        "icon" : "",
                        "state" : "New"
                    },
                    {
                        "id" : 2,
                        "name" : "Discounts",
                        "color" : "#33323",
                        "icon" : "",
                        "state" : "Delete"
                    }
                ]
            },
            {   "categories" : [
                    {
                        "id" : 1,
                        "name" : "Vodafone",
                        "color" : "#333333",
                        "icon" : "",
                        "state" : "Update"
                    }
                ]
            }
        ]



## Environment Collection [/environments]
### Get environment state [GET]
This is called when user starts the app for the first time
and when user change settings in the app settings section.

When is_production is True, in the app you should use
production url links for the other calls. When it is false, you
should use development url links for the other calls.

Represents environment for the api calls. It could be
development or production.

---
**Environment attributes:**

- id `(Number)` : Unique Identifier.
- is_production `(Boolean)` : Production Identifier.

---

+ Request
    + Headers

            Authorization: JWT ABC123


+ Response 200 (application/json)

        [
            {
                "id" : 1,
                "is_production", True
            }
        ]


## Category Collection [/categories{?universities}]
---
Represents category a details.

---

**Category attributes:**

- id `(Number)` : Unique Identifier.
- name `(String)` : Category Name.
- color `(String)` : Category Color.
- icon `(URL)` : Category Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all categories [GET]

Categories are ordered based on the order
from the server side.

We use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

Komentár (martin wpa): toto sú "super"kategórie, globálne pre všetkých,
bez ohľadu na výber mesta a univerzity. Parameter je asi teda zbytočný. 
Subkateórie sa potom radia do týchto kategórií (napr. Doctors and health patrí pod Services.)

+ Request
    + Headers

            Authorization: JWT ABC123

+ Parameters
    + universities (array[int])... array of the selected universities ids.

+ Response 200 (application/json)

        [
            {
                "id": 1,
                "name": "University",
                "icon": "https://www.esn-cz.cz/esnczapp/icons/students-cap.svg",
                "color": "#2e3192",
                "order": 1
            },
            {
                "id": 2,
                "name": "Services",
                "icon": "https://www.esn-cz.cz/esnczapp/icons/016-building.svg",
                "color": "#7ac143",
                "order": 2
            },
            {
                "id": 3,
                "name": "Discounts",
                "icon": "https://www.esn-cz.cz/esnczapp/icons/015-wallet.svg",
                "color": "#ec008c",
                "order": 3
            },
            {
                "id": 4,
                "name": "Vodafone",
                "icon": "https://www.esn-cz.cz/esnczapp/icons/014-smartphone-with-a-smile.svg",
                "color": "#E60000",
                "order": 4
            }
        ]

## POI Detail 1 [/poi/1]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 1,
                "name": "Sts Cyril and Methodius Faculty of Theology",
                "full_address": "Univerzitní 244/22, Olomouc",
                "latitude": "49.59466",
                "longitude": "17.254988",
                "website_link": "https://www.cmtf.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_cmtf_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_cmtf_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 2 [/poi/2]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 2,
                "name": "Faculty of Medicine and Dentistry",
                "full_address": "Hněvotínská 3, Olomouc",
                "latitude": "49.58628",
                "longitude": "17.236611",
                "website_link": "http://old.lf.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_lf_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_lf_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 3 [/poi/3]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 3,
                "name": "Faculty of Arts",
                "full_address": "Křížkovského 511/10, Olomouc",
                "latitude": "49.594298",
                "longitude": "17.259804",
                "website_link": "http://old.ff.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_ff_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_ff_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 4 [/poi/4]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 4,
                "name": "Faculty of Science",
                "full_address": "tř. 17. listopadu 1192/12, Olomouc",
                "latitude": "49.592283",
                "longitude": "17.263317",
                "website_link": "http://old.prf.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_prf_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_prf_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 5 [/poi/5]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 5,
                "name": "Faculty of Education",
                "full_address": "Žižkovo náměstí 5, Olomouc",
                "latitude": "49.595709",
                "longitude": "17.264651",
                "website_link": "http://old.pdf.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_pdf_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_pdf_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 6 [/poi/6]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 6,
                "name": "Faculty of Physical Culture",
                "full_address": "tř. Míru 117, Olomouc",
                "latitude": "49.594452",
                "longitude": "17.213481",
                "website_link": "https://ftk.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_ftk_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_ftk_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 7 [/poi/7]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 7,
                "name": "Faculty of Law",
                "full_address": "tř. 17. listopadu 8, Olomouc",
                "latitude": "49.590794",
                "longitude": "17.262653",
                "website_link": "http://old.pf.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_pf_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_pf_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 8 [/poi/8]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 8,
                "name": "Faculty of Health Sciences",
                "full_address": "Hněvotínská 5, Olomouc",
                "latitude": "49.585948",
                "longitude": "17.234929",
                "website_link": "http://old.fzv.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        4
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_fzv_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_fzv_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 9 [/poi/9]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 9,
                "name": "International Relations Office",
                "full_address": "Křížkovského 8, Olomouc",
                "latitude": "49.595124",
                "longitude": "17.259223",
                "website_link": "https://www.upol.cz/en/students/exchange-students/international-offices/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        1
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 10 [/poi/10]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 10,
                "name": "Library Zbrojnice",
                "full_address": "Biskupské nám. 842/1, Olomouc",
                "latitude": "49.595704",
                "longitude": "17.260127",
                "website_link": "https://www.knihovna.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        1
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 11 [/poi/11]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 11,
                "name": "Academic Sport Centre",
                "full_address": "U Sportovní haly 2a, Olomouc",
                "latitude": "49.603545",
                "longitude": "17.250093",
                "website_link": "https://ascup.upol.cz/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        1
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 12 [/poi/12]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 12,
                "name": "Computer Centre Zbrojnice",
                "full_address": "Biskupské nám. 842/1, Olomouc",
                "latitude": "49.595704",
                "longitude": "17.260127",
                "website_link": "https://cvt.upol.cz/en/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        1
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 13 [/poi/13]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 13,
                "name": "Centre for Students with Special Needs",
                "full_address": "Žižkovo nám. 5, Olomouc",
                "latitude": "49.595709",
                "longitude": "17.264651",
                "website_link": "http://cps.upol.cz/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        1
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_up_barva.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 14 [/poi/14]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 14,
                "name": "Canteen 17. listopadu",
                "full_address": "tř. 17. listopadu 54, Olomouc",
                "latitude": "49.594571",
                "longitude": "17.265361",
                "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-17-listopadu/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        5
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 15 [/poi/15]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 15,
                "name": "Canteen Šmeralova",
                "full_address": "Šmeralova 6, Olomouc",
                "latitude": "49.594181",
                "longitude": "17.266427",
                "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-smeralova/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        5
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 16 [/poi/16]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 16,
                "name": "Canteen Křížkovského",
                "full_address": "Křížkovského 8, Olomouc",
                "latitude": "49.595124",
                "longitude": "17.259223",
                "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-krizkovskeho/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        5
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 17 [/poi/17]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 17,
                "name": "Canteen Neředín",
                "full_address": "tř. Míru 115, Olomouc",
                "latitude": "49.594447",
                "longitude": "17.213471",
                "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-neredin/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        5
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 18 [/poi/18]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 18,
                "name": "Canteen Holice",
                "full_address": "Šlechtitelů 11, Olomouc",
                "latitude": "49.575285",
                "longitude": "17.279329",
                "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-holice/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        5
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 19 [/poi/19]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 19,
                "name": "17. listopadu Dormitory",
                "full_address": "tř. 17. listopadu 54, Olomouc",
                "latitude": "49.594571",
                "longitude": "17.265361",
                "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-17-listopadu/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        3
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 20 [/poi/20]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 20,
                "name": "Bedřicha Václavka Dormitory",
                "full_address": "Šmeralova 8, Olomouc",
                "latitude": "49.593191",
                "longitude": "17.266888",
                "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-bedricha-vaclavka/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        3
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 21 [/poi/21]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 21,
                "name": "Evžena Rošického Dormitory",
                "full_address": "U Sportovní haly 4, Olomouc",
                "latitude": "49.602606",
                "longitude": "17.248618",
                "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-evzena-rosickeho/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        3
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 22 [/poi/22]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 22,
                "name": "Generála Svobody Dormitory",
                "full_address": "Šmeralova 12, Olomouc",
                "latitude": "49.591787",
                "longitude": "17.265004",
                "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-generala-svobody/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        3
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 23 [/poi/23]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 23,
                "name": "J. L. Fischera Dormitory",
                "full_address": "Šmeralova 10, Olomouc",
                "latitude": "49.592567",
                "longitude": "17.266197",
                "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-j-l-fischera/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        3
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 24 [/poi/24]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 24,
                "name": "Neředín Dormitory",
                "full_address": "U Letiště 786, Olomouc",
                "latitude": "49.594235",
                "longitude": "17.214961",
                "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-neredin-ii/",
                "preview_image": "http://new.uss.upol.cz/wp-content/uploads/2014/10/UpolLOgo.png",
                "subcategory_id": [
                        3
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://vizual.upol.cz/soubory_v2/logotypy/logo_skm_modra.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 25 [/poi/25]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 25,
                "name": "ESN UP Olomouc Office",
                "full_address": "tř. Svobody 26, Olomouc",
                "latitude": "49.590329",
                "longitude": "17.251365",
                "website_link": "http://esn.upol.cz/",
                "preview_image": "",
                "subcategory_id": [
                        2
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://esn.upol.cz/sites/up.esn-cz.cz/files/logo-01.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://esn.upol.cz/sites/up.esn-cz.cz/files/logo-01.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 26 [/poi/26]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 26,
                "name": "Premiere Cinemas Šantovka",
                "full_address": "Polská 1, Olomouc",
                "latitude": "49.587027",
                "longitude": "17.257569",
                "website_link": "http://olomouc.premierecinemas.cz/",
                "preview_image": "",
                "subcategory_id": [
                        12
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://cdr.cz/sites/default/files/styles/custom/public/premierecinemas_logo_big.jpg?itok=-myxC8wp",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://cdr.cz/sites/default/files/styles/custom/public/premierecinemas_logo_big.jpg?itok=-myxC8wp",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 27 [/poi/27]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 27,
                "name": "Moravian Theatre",
                "full_address": "Horní nám. 22, Olomouc",
                "latitude": "49.592884",
                "longitude": "17.24992",
                "website_link": "http://www.moravskedivadlo.cz/",
                "preview_image": "",
                "subcategory_id": [
                        14
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://www.moravskedivadlo.cz/images/mdo_logo.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://www.moravskedivadlo.cz/images/mdo_logo.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 28 [/poi/28]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 28,
                "name": "Museum of Modern Art",
                "full_address": "Denisova 47, 771 11 Olomouc",
                "latitude": "49.596109",
                "longitude": "17.256245",
                "website_link": "http://www.olmuart.cz/test/en/museum-of-modern-art/",
                "preview_image": "",
                "subcategory_id": [
                        14
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://www.olmuart.cz/gfx/logo2.png",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://www.olmuart.cz/gfx/logo2.png",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 29 [/poi/29]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        {
                "id": 29,
                "name": "Riegrovka Restaurant",
                "full_address": "Riegrova 381/22, Olomouc",
                "latitude": "49.594942",
                "longitude": "17.24832",
                "website_link": "https://en.riegrovka.eu/",
                "preview_image": "http://www.pivovary.info/prehled/riegrovka/riegrovka_logo.jpg",
                "subcategory_id": [
                        10
                ],
                "image_list": [
                        {
                                "id": 1,
                                "image_url": "http://www.pivovary.info/prehled/riegrovka/riegrovka_logo.jpg",
                                "order": 1
                        },
                        {
                                "id": 2,
                                "image_url": "http://www.pivovary.info/prehled/riegrovka/riegrovka_logo.jpg",
                                "order": 2
                        }
                ],
                "content": [
                        {
                                "content_title": "Content block title",
                                "content_body": "Opening hours 24/7"
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        },
                        {
                                "content_title": "",
                                "content_body": ""
                        }
                ]
        }


## POI Detail 30 [/poi/30]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
[...]
