FORMAT: 1A
HOST: https://esn.org/

# ESN API Documentation
ESN API documentation for ESN project. This project is divided
to many phases. This version of the API is for version 01.


# Allowed HTTPs requests:
<pre>
POST     : To create resource
PUT    : Update resource
GET     : Get a resource or list of resources
DELETE  : To delete resource
</pre>

# Description Of Usual Server Responses:
- 200 `OK` - the request was successful (some API calls may return 201 instead).
- 201 `Created` - the request was successful and a resource was created.
- 204 `No Content` - the request was successful but there is no representation to return (i.e. the response is empty).
- 400 `Bad Request` - the request could not be understood or was missing required parameters.
- 401 `Unauthorized` - authentication failed or user doesn't have permissions for requested operation.
- 403 `Forbidden` - access denied.
- 404 `Not Found` - resource was not found.
- 405 `Method Not Allowed` - requested method is not supported for resource.
- 500 `Internal Server Error` - server error


# Authentication
<table>
    <tr>
        <td> Token </td>
        <td> Token/API key </td>
    </tr>
</table>


# Section
Represents city and university details. With one city, user
can choose more universities.

---
**City attributes:**

- id `(Number)` : Unique Identifier.
- name `(String)` : City Name.
- city_image `(URL)` : City Image.
- state `(String)` : City State.
- best_tip_title `(String)` : City Best Offer.
- best_tip_image `(URL)` : City Best Offer Image.
- latitude `(String)` : Latitude Coordinates of the City.
- longtitude `(String)` : Longtitude Coordinates of the City.
- city_desc `(String)` : Description of city. Short one.

---

**University attributes:**

- id `(Number)` : Unique Identifier.
- name `(String)` : University Name.
- section_name `(String)` : ESN section name. For future reference.
- section_desc `(String)` : Description of section.

---

## Section Collection [/sections]
### List all cities and related universities [GET]
This is called when user starts the app for the first time
and when user change settings in the app settings section.

User can choose one city and more universtities.

Based on the GPS is automatically choosen city where is the user.
He can change this city in the app manually.

Cities and universities are ordered alphabetically
from the server side.

+ Request
    + Headers

            Authorization: JWT ABC123

+ Response 200 (application/json)

        [
            {
                "id" : 1,
                "name": "Prague",
                "city_image" : "",
                "state" : "Czech Republic",
                "best_tip_image" : "",
                "best_tip_title" : "Tip: Try Proti Proudu in Prague",
                "longitude": "14.4378005",
                "latitude" : "50.0755381",
                "city_desc" : "",
                "universities": [
                    {
                        "id": 1,
                        "name": "Charles University",
                        "section_name": "IC CUNI",
                        "section_desc": ""
                    }, {
                        "id": 2,
                        "name": "Czech Technical University",
                        "section_name": "ISC CTU in Prague",
                        "section_desc": ""
                    }, {
                        "id": 3,
                        "name": "Czech University of Life Sciences",
                        "section_name": "ESN CULS Prague",
                        "section_desc": ""
                    }, {
                        "id": 4,
                        "name": "University of Chemistry and Technology",
                        "section_name": "ESN UCT Prague",
                        "section_desc": ""
                    }, {
                        "id": 5,
                        "name": "Universiy of Economics",
                        "section_name": "ESN VSE Prague",
                        "section_desc": ""
                    }
                ]
            },
            {
                "id" : 2,
                "name": "Olomouc",
                "city_image" : "",
                "state" : "Czech Republic",
                "best_tip_image" : "",
                "best_tip_title" : "Best coffee shop in Olomouc",
                "longitude": "17.2508787",
                "latitude" : "49.593778",
                "city_desc" : "",
                "universities": [
                    {
                        "id": 6,
                        "name": "Palacký University",
                        "section_name": "ESN UP Olomouc",
                        "section_desc": ""
                    }
                ]
            }
        ]

## Subcategory Collection [/subcategories{?category}]
---
Represents subcategory details. One main category contains
more subcategories, where one subcategory can be in more
main categories.

---

**Subcategory attributes:**

- id `(Number)` : Unique Identifier.
- parent_category `(Number)` : parent super category. server side
- name `(String)` : Subcategory Name.
- color `(String)` : Subcategory Color.
- icon `(URL)` : Subcategory Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all subcategories [GET]

Subcategories and categories are ordered based on the order
from the server side.

We use subcategory color and icon. When there is no icon and
color for the subcategory, you can use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

+ Request
    + Headers

            Authorization: JWT ABC123


+ Parameters
    + category (Number)... id of the selected category.


+ Response 200 (application/json)

        [
                {
                  "id":"1",
                  "parent_category":"1",
                  "name":"University",
                  "color":"#2e3192",
                  "icon":"",
                  "order":"1",
                  "pois" : [9, 10, 11, 12, 13]
                },
                {
                  "id":"2",
                  "parent_category":"1",
                  "name":"Erasmus Student Network",
                  "color":"#00aeef",
                  "icon":"",
                  "order":"2",
                  "pois" : [25]
                },
                {
                  "id":"5",
                  "parent_category":"1",
                  "name":"Canteens",
                  "color":"#f47b20",
                  "icon":"",
                  "order":"3",
                  "pois" : [14, 15, 16, 17, 18]
                },
                {
                  "id":"4",
                  "parent_category":"1",
                  "name":"Faculties",
                  "color":"#ec008c",
                  "icon":"",
                  "order":"4",
                  "pois" : [1, 2, 3, 4, 5, 6, 7, 8]
                },
                {
                  "id":"3",
                  "parent_category":"1",
                  "name":"Dormitories",
                  "color":"#7ac143",
                  "icon":"",
                  "order":"5",
                  "pois" : [19, 20, 21, 22, 23, 24]
                },
                {
                  "id":"16",
                  "parent_category":"2",
                  "name":"Pub & Bars",
                  "color":"#2e3192",
                  "icon":"",
                  "order":"1",
                  "pois" : [47, 48, 49, 50]
                },
                {
                  "id":"8",
                  "parent_category":"2",
                  "name":"Groceries",
                  "color":"#7ac143",
                  "icon":"",
                  "order":"2",
                  "pois" : [35, 39, 40, 41]
                },
                {
                  "id":"9",
                  "parent_category":"2",
                  "name":"Shopping",
                  "color":"#00aeef",
                  "icon":"",
                  "order":"3",
                  "pois" : [38]
                },
                {
                  "id":"6",
                  "parent_category":"2",
                  "name":"Doctors and health care",
                  "color":"#ff0000",
                  "icon":"",
                  "order":"4",
                  "pois" : [36, 37]
                },
                {
                  "id":"7",
                  "parent_category":"2",
                  "name":"Police",
                  "color":"#2e3192",
                  "icon":"",
                  "order":"5",
                  "pois" : []
                },
                {
                  "id":"15",
                  "parent_category":"2",
                  "name":"Travel",
                  "color":"#ec008c",
                  "icon":"",
                  "order":"6",
                  "pois" : [44, 45, 46]
                },
                {
                  "id":"14",
                  "parent_category":"2",
                  "name":"Culture",
                  "color":"#f47b20",
                  "icon":"",
                  "order":"7",
                  "pois" : [27, 28]
                },
                {
                  "id":"11",
                  "parent_category":"3",
                  "name":"Clubbing",
                  "color":"#2e3192",
                  "icon":"",
                  "order":"1",
                  "pois" : [33, 34]
                },
                {
                  "id":"10",
                  "parent_category":"3",
                  "name":"Food",
                  "color":"#7ac143",
                  "icon":"",
                  "order":"2",
                  "pois" : [1, 2, 3]
                },
                {
                  "id":"12",
                  "parent_category":"3",
                  "name":"Entertainment",
                  "color":"#f47b20",
                  "icon":"",
                  "order":"3",
                  "pois" : [26]
                },
                {
                  "id":"13",
                  "parent_category":"3",
                  "name":"Accommodation",
                  "color":"#00aeef",
                  "icon":"",
                  "order":"4",
                  "pois" : [42, 43]
                },
                {
                  "id":"17",
                  "parent_category":"4",
                  "name":"Vodafone shops",
                  "color":"#E60000",
                  "icon":"",
                  "order":"1",
                  "pois" : [51, 52]
                },
                {
                  "id":"18",
                  "parent_category":"4",
                  "name":"Charging places",
                  "color":"#f47b20",
                  "icon":"",
                  "order":"2",
                  "pois" : [0]
                }
        ]


## POI Detail Collection [/poi/{id}]
---
Represents Point of Interest details. One POI can be in more subcategories and categories.
This is called when user click on the main category tab or during the first
call of the app, when is dowloaded default category.

**POI attributes:**

- id `(Number)` : Unique Identifier.
- category_path `(String)` : Full Path for the Category.
- full_address `(String)` : POI City.
- name `(String)` : POI Name.
- latitude `(String)` : POI Latitude coordinates.
- longitude `(String)` : POI Longitude coordinates.
- preview_image `(URL)` : POI Preview Image in the List View.
- image_list `(Array[URL])` : POI List of Images for the Slider in the POI Detail.
- content_title `(String)` : POI Title of the Content Section.
- content_body `(String)` : POI Body of the Content Section.
- website_link `(URL)` : POI URL of the partner website.
- subcategory_id `(Array(Number))` : POI Subcategory Identifier.
---

### POI Detail [GET]

POIs are ordered based on the order from the server side.

This call also contains information for the POI detail section.

+ Request
    + Headers

            Authorization: JWT ABC123


+ Parameters
    + id (Number)... id of the POI.

+ Response 200 (application/json)

        
           {
                "id" : 1,
                "category_path" : "Category -> Subcategory",
                "name" : "Example Point",
                "full_address" : "Riegerova 221/2, 123 00, Olomouc",
                "latitude" : "49.594584",
                "longitude" : "17.248944",
                "website_link" : "https://www.esn-cz.cz/",
                "preview_image" : "https://www.esn-cz.cz/sites/default/files/esn-cz.png",
                "subcategory_id" : [2, 1],
                "image_list" : [
                    {
                        "id" : 1,
                        "image_url" : "https://www.esn-cz.cz/sites/default/files/styles/zoom/public/gallery/DSC_0162.JPG?itok=zCsHVQ44",
                        "order" : 1
                        },
                    {
                        "id" : 2,
                        "image_url" : "",
                        "order" : 2
                    },
                    {
                        "id" : 3,
                        "image_url" : "",
                        "order" : 3
                    }
                ],
                "content" : [
                    {
                        "content_title" : "Opening hours",
                        "content_body" : "<strong>All</strong> day <em>long</em>!"
                    },
                    {
                        "content_title" : "Additional info",
                        "content_body" : "What a place... awesome!"
                    }
                ]
            }

## Update Collection [/update_from={datetime}]
---
Sent all updated data as a difference between datetime and the current date.

# States
<table>
    <tr>
        <td> New </td>
        <td> New data created </td>
    </tr>
    <tr>
        <td> Update </td>
        <td> Updated existing data </td>
    </tr>
    <tr>
        <td> Delete </td>
        <td> Deleted existing data </td>
    </tr>
</table>

### Update all data [GET]
+ Request
    + Headers

            Authorization: JWT ABC123


+ Parameters
    + datetime (String) ... Timestamp in unix format: `YYYY-MM-DDTHH:MM:SS`.

+ Response 200 (application/json)

        [
            {   "subcategories" : [
                    {
                        "id" : 1,
                        "name" : "Vodafone",
                        "color" : "#333333",
                        "icon" : "",
                        "state" : "New"
                    },
                    {
                        "id" : 2,
                        "name" : "Discounts",
                        "color" : "#33323",
                        "icon" : "",
                        "state" : "Delete"
                    }
                ]
            },
            {   "categories" : [
                    {
                        "id" : 1,
                        "name" : "Vodafone",
                        "color" : "#333333",
                        "icon" : "",
                        "state" : "Update"
                    }
                ]
            }
        ]



## Environment Collection [/environments]
### Get environment state [GET]
This is called when user starts the app for the first time
and when user change settings in the app settings section.

When is_production is True, in the app you should use
production url links for the other calls. When it is false, you
should use development url links for the other calls.

Represents environment for the api calls. It could be
development or production.

---
**Environment attributes:**

- id `(Number)` : Unique Identifier.
- is_production `(Boolean)` : Production Identifier.

---

+ Request
    + Headers

            Authorization: JWT ABC123


+ Response 200 (application/json)

        [
            {
                "id" : 1,
                "is_production", True
            }
        ]


## Category Collection [/categories{?universities}]
---
Represents category a details.

---

**Category attributes:**

- id `(Number)` : Unique Identifier.
- name `(String)` : Category Name.
- color `(String)` : Category Color.
- icon `(URL)` : Category Icon.
- order `(Number)` : listing priority. lower = more important. server side


### List all categories [GET]

Categories are ordered based on the order
from the server side.

We use category color and icon.
Also you can use category color and icon when data are
grouped on the map.

Komentár (martin wpa): toto sú "super"kategórie, globálne pre všetkých,
bez ohľadu na výber mesta a univerzity. Parameter je asi teda zbytočný. 
Subkateórie sa potom radia do týchto kategórií (napr. Doctors and health patrí pod Services.)

+ Request
    + Headers

            Authorization: JWT ABC123

+ Parameters
    + universities (array[int])... array of the selected universities ids.

+ Response 200 (application/json)

        [
            {
                "id": 1,
                "name": "University",
                "icon": "",
                "color": "#2e3192",
                "order": 1
            },
            {
                "id": 2,
                "name": "Services",
                "icon": "",
                "color": "#7ac143",
                "order": 2
            },
            {
                "id": 3,
                "name": "Discounts",
                "icon": "",
                "color": "#ec008c",
                "order": 3
            },
            {
                "id": 4,
                "name": "Vodafone",
                "icon": "",
                "color": "#E60000",
                "order": 4
            }
        ]

## POI Collection [/poi]
---
Collection of all avaiable POIs fot testing purposes.
---

### List all POIs [GET]

List all POIs.

+ Request
    + Headers
    
            Authorization: JWT ABC123
        
+ Response 200 (application/json)

        [
        {
            "id": 1,
            "longitude": "17.254988",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "Univerzitní 244/22, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Sts Cyril and Methodius Faculty of Theology",
            "website_link": "https://www.cmtf.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.59466"
        },
        {
            "id": 2,
            "longitude": "17.236611",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "Hněvotínská 3, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Medicine and Dentistry",
            "website_link": "http://old.lf.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.58628"
        },
        {
            "id": 3,
            "longitude": "17.259804",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "Křížkovského 511/10, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Arts",
            "website_link": "http://old.ff.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594298"
        },
        {
            "id": 4,
            "longitude": "17.263317",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "tř. 17. listopadu 1192/12, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Science",
            "website_link": "http://old.prf.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.592283"
        },
        {
            "id": 5,
            "longitude": "17.264651",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "Žižkovo náměstí 5, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Education",
            "website_link": "http://old.pdf.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595709"
        },
        {
            "id": 6,
            "longitude": "17.213481",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "tř. Míru 117, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Physical Culture",
            "website_link": "https://ftk.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594452"
        },
        {
            "id": 7,
            "longitude": "17.262653",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "tř. 17. listopadu 8, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Law",
            "website_link": "http://old.pf.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.590794"
        },
        {
            "id": 8,
            "longitude": "17.234929",
            "preview_image": "",
            "category_path": "Category -> Faculties",
            "full_address": "Hněvotínská 5, Olomouc",
            "subcategory_id": [
                4
            ],
            "name": "Faculty of Health Sciences",
            "website_link": "http://old.fzv.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.585948"
        },
        {
            "id": 9,
            "longitude": "17.259223",
            "preview_image": "",
            "category_path": "Category -> University",
            "full_address": "Křížkovského 8, Olomouc",
            "subcategory_id": [
                1
            ],
            "name": "International Relations Office",
            "website_link": "https://www.upol.cz/en/students/exchange-students/international-offices/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595124"
        },
        {
            "id": 10,
            "longitude": "17.260127",
            "preview_image": "",
            "category_path": "Category -> University",
            "full_address": "Biskupské nám. 842/1, Olomouc",
            "subcategory_id": [
                1
            ],
            "name": "Library Zbrojnice",
            "website_link": "https://www.knihovna.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595704"
        },
        {
            "id": 11,
            "longitude": "17.250093",
            "preview_image": "",
            "category_path": "Category -> University",
            "full_address": "U Sportovní haly 2a, Olomouc",
            "subcategory_id": [
                1
            ],
            "name": "Academic Sport Centre",
            "website_link": "https://ascup.upol.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.603545"
        },
        {
            "id": 12,
            "longitude": "17.260127",
            "preview_image": "",
            "category_path": "Category -> University",
            "full_address": "Biskupské nám. 842/1, Olomouc",
            "subcategory_id": [
                1
            ],
            "name": "Computer Centre Zbrojnice",
            "website_link": "https://cvt.upol.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595704"
        },
        {
            "id": 13,
            "longitude": "17.264651",
            "preview_image": "",
            "category_path": "Category -> University",
            "full_address": "Žižkovo nám. 5, Olomouc",
            "subcategory_id": [
                1
            ],
            "name": "Centre for Students with Special Needs",
            "website_link": "http://cps.upol.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595709"
        },
        {
            "id": 14,
            "longitude": "17.265361",
            "preview_image": "",
            "category_path": "Category -> Canteens",
            "full_address": "tř. 17. listopadu 54, Olomouc",
            "subcategory_id": [
                5
            ],
            "name": "Canteen 17. listopadu",
            "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-17-listopadu/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594571"
        },
        {
            "id": 15,
            "longitude": "17.266427",
            "preview_image": "",
            "category_path": "Category -> Canteens",
            "full_address": "Šmeralova 6, Olomouc",
            "subcategory_id": [
                5
            ],
            "name": "Canteen Šmeralova",
            "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-smeralova/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594181"
        },
        {
            "id": 16,
            "longitude": "17.259223",
            "preview_image": "",
            "category_path": "Category -> Canteens",
            "full_address": "Křížkovského 8, Olomouc",
            "subcategory_id": [
                5
            ],
            "name": "Canteen Křížkovského",
            "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-krizkovskeho/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595124"
        },
        {
            "id": 17,
            "longitude": "17.213471",
            "preview_image": "",
            "category_path": "Category -> Canteens",
            "full_address": "tř. Míru 115, Olomouc",
            "subcategory_id": [
                5
            ],
            "name": "Canteen Neředín",
            "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-neredin/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594447"
        },
        {
            "id": 18,
            "longitude": "17.279329",
            "preview_image": "",
            "category_path": "Category -> Canteens",
            "full_address": "Šlechtitelů 11, Olomouc",
            "subcategory_id": [
                5
            ],
            "name": "Canteen Holice",
            "website_link": "http://old.skm.upol.cz/en/dining-halls/dining-hall-holice/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.575285"
        },
        {
            "id": 19,
            "longitude": "17.265361",
            "preview_image": "",
            "category_path": "Category -> Dormitories",
            "full_address": "tř. 17. listopadu 54, Olomouc",
            "subcategory_id": [
                3
            ],
            "name": "17. listopadu Dormitory",
            "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-17-listopadu/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594571"
        },
        {
            "id": 20,
            "longitude": "17.266888",
            "preview_image": "",
            "category_path": "Category -> Dormitories",
            "full_address": "Šmeralova 8, Olomouc",
            "subcategory_id": [
                3
            ],
            "name": "Bedřicha Václavka Dormitory",
            "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-bedricha-vaclavka/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.593191"
        },
        {
            "id": 21,
            "longitude": "17.248618",
            "preview_image": "",
            "category_path": "Category -> Dormitories",
            "full_address": "U Sportovní haly 4, Olomouc",
            "subcategory_id": [
                3
            ],
            "name": "Evžena Rošického Dormitory",
            "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-evzena-rosickeho/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.602606"
        },
        {
            "id": 22,
            "longitude": "17.265004",
            "preview_image": "",
            "category_path": "Category -> Dormitories",
            "full_address": "Šmeralova 12, Olomouc",
            "subcategory_id": [
                3
            ],
            "name": "Generála Svobody Dormitory",
            "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-generala-svobody/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.591787"
        },
        {
            "id": 23,
            "longitude": "17.266197",
            "preview_image": "",
            "category_path": "Category -> Dormitories",
            "full_address": "Šmeralova 10, Olomouc",
            "subcategory_id": [
                3
            ],
            "name": "J. L. Fischera Dormitory",
            "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-j-l-fischera/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.592567"
        },
        {
            "id": 24,
            "longitude": "17.214961",
            "preview_image": "",
            "category_path": "Category -> Dormitories",
            "full_address": "U Letiště 786, Olomouc",
            "subcategory_id": [
                3
            ],
            "name": "Neředín Dormitory",
            "website_link": "http://old.skm.upol.cz/en/dormitories/dormitory-neredin-ii/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594235"
        },
        {
            "id": 25,
            "longitude": "17.251365",
            "preview_image": "",
            "category_path": "Category -> Erasmus Student Network",
            "full_address": "tř. Svobody 26, Olomouc",
            "subcategory_id": [
                2
            ],
            "name": "ESN UP Olomouc Office",
            "website_link": "http://esn.upol.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.590329"
        },
        {
            "id": 26,
            "longitude": "17.257569",
            "preview_image": "",
            "category_path": "Category -> Entertainment",
            "full_address": "Polská 1, Olomouc",
            "subcategory_id": [
                12
            ],
            "name": "Premiere Cinemas Šantovka",
            "website_link": "http://olomouc.premierecinemas.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.587027"
        },
        {
            "id": 27,
            "longitude": "17.24992",
            "preview_image": "",
            "category_path": "Category -> Culture",
            "full_address": "Horní nám. 22, Olomouc",
            "subcategory_id": [
                14
            ],
            "name": "Moravian Theatre",
            "website_link": "http://www.moravskedivadlo.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.592884"
        },
        {
            "id": 28,
            "longitude": "17.256245",
            "preview_image": "",
            "category_path": "Category -> Culture",
            "full_address": "Denisova 47, 771 11 Olomouc",
            "subcategory_id": [
                14
            ],
            "name": "Museum of Modern Art",
            "website_link": "http://www.olmuart.cz/test/en/museum-of-modern-art/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.596109"
        },
        {
            "id": 29,
            "longitude": "17.24832",
            "preview_image": "",
            "category_path": "Category -> Food",
            "full_address": "Riegrova 381/22, Olomouc",
            "subcategory_id": [
                10
            ],
            "name": "Riegrovka Restaurant",
            "website_link": "https://en.riegrovka.eu/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594942"
        },
        {
            "id": 30,
            "longitude": "17.24984",
            "preview_image": "",
            "category_path": "Category -> Food",
            "full_address": "tř. Svobody 20, Olomouc",
            "subcategory_id": [
                10
            ],
            "name": "BerryBlue Cafe",
            "website_link": "https://www.facebook.com/BerryBlue-Caf%C3%A9-1617524255240269/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.591524"
        },
        {
            "id": 31,
            "longitude": "17.246868",
            "preview_image": "",
            "category_path": "Category -> Food",
            "full_address": "tř. Svobody 646/4, 779 00 Olomouc",
            "subcategory_id": [
                10
            ],
            "name": "KAFE JAK LUSK",
            "website_link": "https://www.facebook.com/KAFEJAKLUSK/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594876"
        },
        {
            "id": 32,
            "longitude": "17.228703",
            "preview_image": "",
            "category_path": "Category -> Food",
            "full_address": "tř. Míru 260/32, 779 00 Olomouc",
            "subcategory_id": [
                10
            ],
            "name": "Bistro MY MEAL",
            "website_link": "http://www.mymeal.cz/my-meal-olomouc/bistro",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.596746"
        },
        {
            "id": 33,
            "longitude": "17.266761",
            "preview_image": "",
            "category_path": "Category -> Clubbing",
            "full_address": "Komenského 914, Olomouc",
            "subcategory_id": [
                11
            ],
            "name": "15 minut - Club & Pub",
            "website_link": "https://www.facebook.com/klub15minut/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.597746"
        },
        {
            "id": 34,
            "longitude": "17.251415",
            "preview_image": "",
            "category_path": "Category -> Clubbing",
            "full_address": "Mlýnská 4, Olomouc",
            "subcategory_id": [
                11
            ],
            "name": "Belmondo Club",
            "website_link": "http://www.belmondo.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.590881"
        },
        {
            "id": 35,
            "longitude": "17.257569",
            "preview_image": "",
            "category_path": "Category -> Groceries",
            "full_address": "Polská 1, Olomouc",
            "subcategory_id": [
                8
            ],
            "name": "Albert Šantovka",
            "website_link": "https://www.albert.cz/nase-prodejny/hypermarket-olomouc-santovka",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.587027"
        },
        {
            "id": 36,
            "longitude": "17.266197",
            "preview_image": "",
            "category_path": "Category -> Doctors and health care",
            "full_address": "Šmeralova 10, Olomouc",
            "subcategory_id": [
                6
            ],
            "name": "MUDr. Jarmila Ševčíková",
            "website_link": "http://www.mudrsevcikova.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.592567"
        },
        {
            "id": 37,
            "longitude": "17.238222",
            "preview_image": "",
            "category_path": "Category -> Doctors and health care",
            "full_address": "I.P.Pavlova 6, Olomouc",
            "subcategory_id": [
                6
            ],
            "name": "Hospital",
            "website_link": "https://www.fnol.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.583678"
        },
        {
            "id": 38,
            "longitude": "17.257569",
            "preview_image": "",
            "category_path": "Category -> Shopping",
            "full_address": "Polská 1, Olomouc",
            "subcategory_id": [
                9
            ],
            "name": "Šantovka shopping centre",
            "website_link": "https://www.galeriesantovka.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.587027"
        },
        {
            "id": 39,
            "longitude": "17.22308",
            "preview_image": "",
            "category_path": "Category -> Groceries",
            "full_address": "Pražská 39, Olomouc",
            "subcategory_id": [
                8
            ],
            "name": "Globus",
            "website_link": "https://www.globus.cz/olomouc.html",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.601531"
        },
        {
            "id": 40,
            "longitude": "17.271885",
            "preview_image": "",
            "category_path": "Category -> Groceries",
            "full_address": "Štursova 3, Olomouc",
            "subcategory_id": [
                8
            ],
            "name": "Kaufland",
            "website_link": "http://www.kaufland.cz/Home/index.jsp?FilialID=5900",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.588445"
        },
        {
            "id": 41,
            "longitude": "17.251554",
            "preview_image": "",
            "category_path": "Category -> Groceries",
            "full_address": "Lazecká 33, Olomouc",
            "subcategory_id": [
                8
            ],
            "name": "Lidl",
            "website_link": "http://www.lidl.cz/cs/index.htm",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.60272"
        },
        {
            "id": 42,
            "longitude": "17.255284",
            "preview_image": "",
            "category_path": "Category -> Accomodation",
            "full_address": "Denisova 292/33, 779 00 Olomouc",
            "subcategory_id": [
                13
            ],
            "name": "Miss Sophies Olomouc",
            "website_link": "http://miss-sophies.com/olomouc/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595878"
        },
        {
            "id": 43,
            "longitude": "17.258258",
            "preview_image": "",
            "category_path": "Category -> Accomodation",
            "full_address": "Koželužská 945/31, 779 00 Olomouc",
            "subcategory_id": [
                13
            ],
            "name": "Long Story Short Hostel & Café",
            "website_link": "https://www.facebook.com/LongStoryShortHostel/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.597896"
        },
        {
            "id": 44,
            "longitude": "17.277857",
            "preview_image": "",
            "category_path": "Category -> Travel",
            "full_address": "Jeremenkova 103/23",
            "subcategory_id": [
                15
            ],
            "name": "Main Train Station",
            "website_link": "http://jizdnirady.idnes.cz/vlakyautobusymhdvse/spojeni/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.592897"
        },
        {
            "id": 45,
            "longitude": "17.285392",
            "preview_image": "",
            "category_path": "Category -> Travel",
            "full_address": "Sladkovského 142/37, 779 00 Olomouc",
            "subcategory_id": [
                15
            ],
            "name": "Main Bus Station",
            "website_link": "http://jizdnirady.idnes.cz/vlakyautobusymhdvse/spojeni/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.587707"
        },
        {
            "id": 46,
            "longitude": "17.246945",
            "preview_image": "",
            "category_path": "Category -> Travel",
            "full_address": "Legionářská 746/1, 779 00 Olomouc",
            "subcategory_id": [
                15
            ],
            "name": "Pub Transoprtation Office",
            "website_link": "https://www.dpmo.cz/en/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.595952"
        },
        {
            "id": 47,
            "longitude": "17.261401",
            "preview_image": "",
            "category_path": "Category -> Pub & Bars",
            "full_address": "1. máje 807/19, 779 00 Olomouc",
            "subcategory_id": [
                16
            ],
            "name": "The BLACK STUFF Irish Pub & Whisky Bar",
            "website_link": "http://www.blackstuff.cz/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.597101"
        },
        {
            "id": 48,
            "longitude": "17.255214",
            "preview_image": "",
            "category_path": "Category -> Pub & Bars",
            "full_address": "Univerzitní 227/6, 779 00 Olomouc",
            "subcategory_id": [
                16
            ],
            "name": "VERTIGO",
            "website_link": "http://www.klubvertigo.cz/napojak.html",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.5953"
        },
        {
            "id": 49,
            "longitude": "17.266197",
            "preview_image": "",
            "category_path": "Category -> Pub & Bars",
            "full_address": "Šmeralova 1116/10, 779 00 Olomouc",
            "subcategory_id": [
                16
            ],
            "name": "EXCELENT URBAN PUB DOGA",
            "website_link": "http://www.pivnicedoga.cz/en/5576-2/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.592567"
        },
        {
            "id": 50,
            "longitude": "17.273441",
            "preview_image": "",
            "category_path": "Category -> Pub & Bars",
            "full_address": "Zeyerova 809/17, Hodolany, 779 00 Olomouc",
            "subcategory_id": [
                16
            ],
            "name": "LOCAL LOKAL Industy PUB",
            "website_link": "https://www.facebook.com/LOCAL-LOKAL-industry-pub-298386737227462/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.594013"
        },
        {
            "id": 51,
            "longitude": "17.257569",
            "preview_image": "",
            "category_path": "Category -> Vodafone shops",
            "full_address": "Polská 1, OC Šantovka, 779 00 Olomouc",
            "subcategory_id": [
                17
            ],
            "name": "Vodafone Šantovka",
            "website_link": "https://www.vodafone.cz/en/stores/store-detail/olomouc-oc-santovka/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.587027"
        },
        {
            "id": 52,
            "longitude": "17.22308",
            "preview_image": "",
            "category_path": "Category -> Vodafone shops",
            "full_address": "Pražská 248/39, 779 00 Olomouc - Řepčín",
            "subcategory_id": [
                17
            ],
            "name": "Vodafone Globus",
            "website_link": "https://www.vodafone.cz/en/stores/store-detail/olomouc-globus/business-poradce/",
            "image_list": [
                {
                    "id": 1,
                    "order": 1,
                    "image_url": ""
                },
                {
                    "id": 2,
                    "order": 2,
                    "image_url": ""
                }
            ],
            "content": [
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                },
                {
                    "content_title": "Content block title",
                    "content_body": "Opening hours 24/7"
                }
            ],
            "latitude": "49.601531"
        }
        ]